<nav class="navbar navbar-default visible-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

        <a type="button" class="navbar-toggle nav-link" href="https://github.com/nready/cnpm-hutech/">
            <i class="fa fa-github"></i>
        </a>



    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<!-- nav-menu-dropdown -->
<div class="btn-group hidden-xs" id="nav-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bars"></i>
		</button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/categories.html"><i class="fa fa-folder"></i>Categories</a></li>
        <li><a href="/tags.html"><i class="fa fa-tags"></i>Tags</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
    </ul>
</div>